h1 {
    color:red;
}

h3 {
    font-size: 1.9em; 
}

img:hover {
    position: relative;
    left: 600px;
}

ul li {
    text-transform: uppercase;
}

ol li {
    font-family: Lobster, cursive;
    color: lightseagreen;
}

form textarea:focus {
    background-color: maroon;
    opacity: 0.5;
}

input[type="text"]
{
  -webkit-text-security: disc;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    font-size: 16px;
}